* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.button {
    text-decoration: none;
    color: black;
    display: inline-block;
}

.simple {
    border: 3px solid black;
    border-radius: 8px;
    padding: 8px;
    margin: 24px;
    background-color: lightgrey;
}

.background {
    background-color: blue;
    color: white;
    padding: 24px 36px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin: 24px;
}

.border {
    color: blue;
    border: 3px solid blue;
    padding: 24px 36px;
    border-radius: 16px;
    font-size: 28px;
    font-weight: bold;
    margin: 24px;
}

.same {
    min-width: 300px;
    text-align: center;
}

.wide {
    display: block;
    text-align: center;
}

#section-3 {
    width: 300px;
}

#section-2 .background {
    background-color: aqua;
}
#section-2 .border {
    color: aqua;
    border-color: aqua;
}