* {
    box-sizing: border-box;
}

body {
    margin: 100px;
    font-family: serif;
}

@media screen and (max-width: 768px) {

}

#layout {
    max-width: 1000;
    margin: 24px auto;
    padding-bottom: 24px;
}

#heading {
    padding-top: 48px;
}

#navbar {
    background-color: black;
    border: 10px dotted red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 24px;
}

#logo {
    width: 225px;
    margin-top: -100px;
}

#title {
    width: 350px;
    margin-bottom: -36px;
}

#contact-container {
    color: white;
    width: 200px;
}

#email {
    margin-left: 12px;
}

#phone {
    margin-right: 24px;
}


#sub-navbar {
    width: 70%;
    margin: 12px auto;
    background-color: white;
    border: 3px solid red;
    display: flex;
    justify-content: space-between;
}
#sub-navbar a {
    color: red;
    padding: 24px;
}

#hero-content a {
    background-color: red;
    border-radius: 24px;
    color: white;
    display: inline-block;
    padding: 24px 36px;
    font-size: 28px;
    text-decoration: none;
}

#hero-content {
    text-align: center;
}
#hero {
    background-image: linear-gradient(#00000066, #00000066), url(../images/food1.jpg);
    background-size: cover;
    background-position: center center;
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    margin: 100px 0px;
}

.side-by-side {
    display: flex;
}
.side-by-side .text-container {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    text-align: center;
}
.side-by-side .text-container h3 {
    font-size: 36px;
}
.side-by-side .text-container, .side-by-side .image-container {
    flex: 50%;
}
.side-by-side .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.side-by-side {
    display: flex;
}