* {
    box-sizing: border-box;
}

body {
    background-color: rgb(69, 57, 57);
    margin: 0px;
    font-family: serif;
}

@media screen and (max-width: 768px) {

}

.layout {
    max-width: fit-content;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.navbar {
    background-color: black;
    border: 10px dotted red;
    padding: 30px 50px;
}

#title {
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding-right: 50px;
}

.nav {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.hero {
    margin-top: 20px;
    background-image: linear-gradient(#00000066, #00000066), url(../images/image1.jpeg);
    background-size: cover;
    background-position: center center;
    color: white;
    height: 400px;
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 70px;
    margin-bottom: 80px;
}

.button {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px 35px;
    border-radius: 30px;
    border: 5px dotted;
    font-size: 30px;
}

.side-by-side {
    display: flex;
    width: 750px;
    border-right: 10px solid white;
    border-left: 10px solid white;
    border-bottom: 10px solid white;
}

.side-by-side .text {
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

.side-by-side .media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-by-side .text, .side-by-side .media {
    flex: 50%;
}

.section {
    background-color: white;
    padding: 20px 35px;
}
.section h2 {
    text-align: center;
    font-size: 40px;
}

.section p {
    text-align: center;
    font-size: 20px;
}

.info {
    color: red;
    text-decoration: underline;
}