@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Playwrite+NZ+Basic+Guides&display=swap');
* {
   
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: sans-serif;
}

#colored-text {
    color: green;
}

.shadowed {
    text-align: center;
    background-color: rgb(205, 250, 93);
    margin: 24px;
    padding: 24px;
    box-shadow:
        -4px -4px 8px rgb(9, 138, 67),
        4px 4px 8px rgb(209, 62, 13);
}

p {
    font-family: "Caesar Dressing", system-ui;
    color: rgb(155, 142, 29);
}