* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#morning {
    border: 5px solid rgb(167, 136, 0);
    border-radius: 24px;
    background-color: rgb(252, 241, 121);
    margin: 15px;
    padding: 15px;
}
#morning ul {
    background-color: rgb(255, 255, 202);
    border-radius: 24px;
    padding-block: 20px;
}

#afternoon {
    border: 5px solid rgb(169, 37, 0);
    border-radius: 24px;
    background-color: rgb(249, 100, 74);
    margin: 15px;
    padding: 15px;
}
#afternoon ul {
    background-color: rgb(251, 185, 167);
    border-radius: 24px;
    padding-block: 20px;
}

#evening {
    border: 5px solid purple;
    border-radius: 24px;
    background-color: rgb(228, 177, 255);
    margin: 15px;
    padding: 15px;
}
#evening ul {
    background-color: rgb(241, 228, 254);
    border-radius: 24px;
    padding-block: 20px;
}

.button {
    text-decoration: none;
    color: green;
    display: inline-block;
    font-weight: bold;
    background-color: rgb(193, 248, 180);
    border: 1px solid;
    border-radius: 20px;
    padding: 1px 10px;
    margin-left: 20px;
    margin-bottom: 7px;
}

.completed {
    text-decoration: line-through;
    margin-bottom: 7px;
}

.important {
    font-weight: bold;
    color: red;
    margin-bottom: 7px;
}

.completed.important {
    background-color: rgb(150, 243, 9);
    margin-right: 50px;
}