@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Kings&family=Romanesco&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 20, 20);
    margin: 0px;
    font-family: sans-serif;
}

.center {
    background-color: rgb(168, 168, 168);
    width: 700px;
    margin: auto;
    border: 7px solid rgb(138, 28, 28);
    padding: 20px;
    margin-top: 60px;
}

.anime {
    width: 645px;
}

.center h1 {
    font-family: "IM Fell Great Primer SC", serif;
    font-size: 60px;
    margin-top: auto;
}

.center h3 {
    font-family: "IM Fell Great Primer SC", serif;
    font-size: 23px;
    margin-top: 35px;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
    margin-top: 35px;
}