@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

div {
    text-align: center;
    margin: 80px;
}

.button {
    text-decoration: none;
    color: yellow;
    background-color: blue;
    border: 10px solid rgb(58, 0, 134);
    border-radius: 45px;
    font-family: "Mystery Quest", system-ui;
    font-size: 45px;
    font-style: italic;
    padding: 25px 60px;
    box-shadow: 5px 6px 7px rgb(124, 123, 171);
}