@import url('https://fonts.googleapis.com/css2?family=Aubrey&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#card-container {
    display: flex;
    gap: 36px;
    max-width: 300px;
    margin: 0px auto;
    justify-content: center;
    margin-top: 20px;
}

.card {
    text-align: center;
    border: 5px solid rgb(218, 153, 32);
    border-radius: 26px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.card p {
    font-size: 15px;
}

.card h3 {
    font-size: 30px;
    text-decoration: underline;
    font-family: "Aubrey", system-ui;
}

.profile {
    width: 200px;
}

.button {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: goldenrod;
    padding: 10px 25px;
    border-radius: 25px;
    border: 4px solid rgb(214, 97, 1);
}