* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: sans-serif;
}

#p-1 {
    color: green;
}

#s-1 {
    color: #F711F7;
}
#s-2 {
    color: #F711F7;
}

#s-3 {
    color: red;
}
#s-4 {
    color: goldenrod;
}
#s-5 {
    color: blue;
}

#p-2 {
    background-color: skyblue;
}

#s-6 {
    background-color: rgb(255, 255, 0);
}

#s-7 {
    font-weight: bold;
}
#s-8 {
    font-weight: bold;
}

#s-9 {
    font-style: italic;
}
#s-10 {
    font-weight: bold;
}
#s-11 {
    font-style: italic;
}

#s-12 {
    text-decoration: underline;
}
#s-13 {
    text-decoration: underline;
}

#p-3 {
    font-size: 36px;
}

#s-14 {
    font-size: 12px;
    font-weight: bold;
}
#s-15 {
    font-size: 48px;
}
#s-16 {
    font-size: 24px;
    font-style: italic;
}
#p-4 {
    text-align: center;
}

#trial-1 {
    width: 570px;
}
#trial-2 {
    width: 570px;
}
#trial-3 {
    width: 570px;
}
#trial-4 {
    width: 570px;
}
#trial-5 {
    width: 570px;
}
#trial-6 {
    width: 570px;
}
#trial-7 {
    width: 570px;
}
#trial-8 {
    width: 570px;
}
#trial-9 {
    width: 570px;
}
#trial-10 {
    width: 570px;
}