* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.light-container {
    background-color: rgb(252, 171, 171);
    padding: 48px 24px;
}

.dark-container {
    background-color: rgb(117, 16, 16);
    color: azure;
    padding: 48px 24px;
}