* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
    margin: 36px auto;
    max-width: 800px;
}

#sidebar-content {
    /* background-color: rgb(228, 189, 252); */
    /* flex: 1; */
    width: 200px;
    order: 2;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: rgb(154, 101, 202);
    color: rgb(189, 250, 200);
    margin: 0px;
    padding: 12px;
    font-size: 16px;
}

#sidebar-content ul {
    background-color: rgb(189, 250, 200);
    margin: 0px 0px 36px;
    padding: 0px 12px;
    list-style-type: none;
    border: 1px solid rgb(154, 101, 202);
}

#sidebar-content a {
    color: rgb(154, 101, 202);
    text-decoration: none;
}

#sidebar-content li {
    padding: 8px 8px;
    border-bottom: 1px solid rgb(154, 101, 202);
}

/* pseudo-class */
#sidebar-content li:last-child {
    border-bottom: 0;
}

#main-content {
    background-color: rgb(252, 235, 197);
    flex: 300px;
    order: 1;
}