* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    font-family: serif;
}

.layout {
    background-color: rgb(101, 100, 99);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    font-size: 0px;
}

.header {
    background-color: black;
    border: 10px dotted red;
    align-items: center;
    display: flex;
}
#h-word {
    margin-top: auto;
    justify-content: space-between;
}

#logo {
    width: 130px;
}

.menu {
    margin-left: 15px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#nav-5 {
    margin-left: 200px;
}

#nav-6 {
        background-color: red;
        border-radius: 35px;
        color: white;
        display: inline-block;
        padding: 15px 25px;
        margin: auto;
}

