@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lavishly+Yours&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: rgb(255, 162, 0);
}
#nav {
    display: flex;
    align-items: center;
    width: 850px;
    margin: 0px auto;
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 24px;
}
#navbar a:hover {
    text-decoration: underline;
}

#layout {
    text-align: center;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

#layout h1 {
    font-family: "Allura", cursive;
    font-size: 65px;
}

#layout h2 {
    font-weight: lighter;
}

#logo {
    margin-right: auto;
    font-size: 40px;
    font-family: "Lavishly Yours", cursive;
}
#navbar #logo:hover {
    text-decoration: none;
    color: white;
}

#navbar .cta-button {
    background-color: white;
    color: rgb(232, 42, 9);
    border-radius: 36px;
    padding: 16px 24px;
    font-size: 15px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
}

#navbar .cta-button:hover {
    background-color: rgb(232, 42, 9);
    color: white;
    text-decoration: none;
}

#layout p {
    text-align: left;
}