@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    width: 1200px;
    margin: 20px auto;
    text-align: center;
    background-color: blue;
    padding: 30px;
}
#nav .links {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}

#layout {
    width: 1200px;
    margin: 0px auto;
    text-align: center;
}

#hero {
    background-image: url(../images/urban-hi-res-1ui7.jpg);
    background-size: cover;
    background-position: center center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero h2 {
    font-family: "Audiowide", sans-serif;
    color: white;
    font-size: 85px;
    background-color: rgba(0, 0, 255, 0.553);
    padding: 0px 263px;
}
#hero #button {
    color: blue;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 20px 36px;
    border: 5px solid;
    border-radius: 37px;
}

#gallery {
    columns: 3 auto;
    column-gap: 20px;
}
#gallery img {
    width: 100%;
    margin-bottom: 20px;
}
#h-gallery {
    font-family: "Audiowide", sans-serif;
    font-size: 60px;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
#cards .card-content {
    flex: 1 1 200px;
    padding: 20px;
    border: 1px solid grey;
}
#cards h3 {
    font-family: "Audiowide", sans-serif;
    font-size: 30px;
}
#cards .cta-button {
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;
    border: 5px solid transparent;
    border-radius: 25px;
    display: inline-block;
}

#nav .links:hover {
    text-decoration: underline;
}
#hero #button:hover {
    color: white;
    background-color: blue;
}
#cards .cta-button:hover {
    background-color: white;
    color: blue;
    border: 5px solid;
}

@media screen and (max-width: 1200px) {
    #nav {
        width: 1000px;
    }
    #layout {
        width: 1000px;
    }
    #hero {
        height: 450px;
    }
    #hero h2 {
        font-size: 40px;
        padding: 0px 341px;
    }
    #hero #button {
        font-size: 20px;
        padding: 10px 30px;
    }

    #h-gallery {
        font-size: 50px;
    }
    #gallery {
        columns: 3;
        column-gap: 10px;
    }
    #gallery img {
        width: 320px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1000px) {
    #nav {
        width: 900px;
    }
    #layout {
        width: 900px;
    }
    #hero {
        height: 350px;
    }
    #hero h2 {
        font-size: 35px;
        padding: 0px 311px;
    }
    #hero #button {
        font-size: 20px;
        border: 3px solid;
    }

    #h-gallery {
        font-size: 40px;
    }
    #gallery img {
        width: 290px;
    }
}

@media screen and (max-width: 900px) {
    #nav {
        width: 800px;
    }
    #layout {
        width: 800px;
    }
    #hero {
        height: 350px;
    }
    #hero h2 {
        font-size: 32px;
        padding: 0px 273px;
    }
    #hero #button {
        font-size: 20px;
        border: 3px solid;
    }

    #h-gallery {
        font-size: 35px;
    }
    #gallery img {
        width: 255px;
    }

    #cards h3 {
        font-size: 25px;
    }
    #cards .cta-button {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 800px) {
    #nav {
        width: 700px;
        padding: 20px;
    }
    #nav .links {
        font-size: 18px;
    }

    #layout {
        width: 700px;
    }
    #hero {
        height: 350px;
    }
    #hero h2 {
        font-size: 30px;
        padding: 0px 231px;
    }
    #hero #button {
        font-size: 20px;
        border: 3px solid;
    }

    #h-gallery {
        font-size: 30px;
    }
    #gallery img {
        width: 220px;
    }

    #cards h3 {
        font-size: 25px;
    }
    #cards .cta-button {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 700px) {
    #nav {
        width: 600px;
        padding: 15px;
    }
    #nav .links {
        font-size: 18px;
    }

    #layout {
        width: 600px;
    }
    #hero {
        height: 350px;
    }
    #hero h2 {
        font-size: 30px;
        padding: 0px 181px;
    }
    #hero #button {
        font-size: 20px;
        border: 3px solid;
    }

    #h-gallery {
        font-size: 30px;
    }
    #gallery img {
        width: 190px;
    }

    #cards h3 {
        font-size: 25px;
    }
    #cards .cta-button {
        padding: 5px 15px;
    }
}