* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: serif;
}

#rectangle {
    width: 700px;
    border: 15px solid rgb(66, 31, 31);
    background-color: #FAF9F6;
    padding: 40px;
    margin: 20px;
    box-shadow: 5px 5px 5px grey;
}

#rounded {
    width: 700px;
    border: 15px solid rgb(66, 31, 31);
    background-color: #FAF9F6;
    padding: 40px;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
}

#text {
    display: inline-block;
    width: 300px;
    font-size: 40px;
    border: 15px solid rgb(66, 31, 31);
    background-color: #FAF9F6;
    padding: 40px;
    margin: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px grey;
}