@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.centered-column {
    width: 600px;
    margin: 0px auto;
    text-align: center;
    font-family: "Delius Swash Caps", cursive;
    font-size: 30px;
    padding: 40px;
    padding-bottom: 70px;
}

.centered-column p {
    font-family: sans-serif;
    font-size: 24px;
}

.yellow {
    border-bottom: 10px dotted;
    background-color: rgb(253, 201, 44);
    color: rgb(223, 91, 3);
}
.centered-column #cereal-pack {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.purple {
    border-bottom: 10px dotted;
    background-color: rgb(142, 9, 172);
    color: rgb(244, 216, 92);
}
.centered-column #cinnamon {
    width: 400px;
}

.red {
    border-bottom: 10px dotted;
    background-color: rgb(255, 59, 33);
    color: rgb(255, 234, 0);
}
.centered-column #crunch {
    width: 400px;
}

.sunny {
    border-bottom: 10px dotted;
    background-color: rgb(255, 217, 0);
    color: rgb(72, 125, 248);
}
.centered-column #berries {
    width: 400px;
}

.orange {
    border-bottom: 10px dotted;
    background-color: orange;
    color: rgb(235, 247, 182);
}
.centered-column #peanut {
    width: 400px;
}

.button {
    text-decoration: none;
    color: black;
    display: inline-block;
}