* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.centered-column {
    width: 600px;
    margin: 0px auto;
    text-align: center;
}

.yellow {
    background-color: yellow;
}

#cereal-pack {
    width: 600px;
}