* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

p {
    /* solid dashed dotted outset inset ridge groove */
    /* border-top: 20px groove rgb(172, 98, 23);
    border-left: 10px dashed yellow;
    border-bottom: 1px solid red; */
    /* border-color: rgb(250, 220, 52);
    border-top-color: aquamarine;
    border-bottom-color: purple;
    border-width: 10px;
    border-style: groove; */
    border: 10px solid green;

    margin: 24px 12px;

    padding: 24px 36px;

    /* margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 16px;
    margin-right: 36px; */
}

div {
    margin: 45px;
    /* border: 10px dashed purple; */
    padding: 30px;
    background-color: rgb(181, 244, 56);
    border-radius: 24px 24px 1px 24px;
}

#chatbox {
    border-radius: 24px 24px 24px 0px;
    background-color: aqua;
    margin-left: 60px;
    margin-right: 24px;
}