* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: serif;
}

#p-1 {
    background-color: #fefb31;
    color: #c29a55;
}
#s-1 {
    background-color: #f07817;
    color: rgb(162, 252, 252);
}
#s-2 {
    background-color: #893b0a;
    color: rgb(253, 231, 166);
}

#p-2 {
    background-color: #0d969b;
    color: #00ffc3;
}
#s-3 {
    background-color: #6df376;
    color: #138d4e;
}
#s-4 {
    background-color: rgb(191, 21, 21);
    color: rgb(251, 182, 122);
}
#s-5 {
    background-color: rgb(250, 250, 134);
    color: rgb(250, 105, 76);
}

#p-3 {
    background-color: #ed3176;
    color: #fad7ec;
}
#s-6 {
    background-color: #d7abf5;
    color: #4f65d3;
}
#s-7 {
    background-color: #f4f3cb;
    color: #c39a42;
}

#p-4 {
    background-color: #0000ff;
    color: #3dc8c8;
}
#s-8 {
    background-color: #f8f6f3;
    color: rgb(233, 137, 112);
}
#s-9 {
    background-color: #69c2ee;
    color: #6146ab;
}

#p-5 {
    background-color: #8a2be2;
    color: #db8cfd;
}
#s-10 {
    background-color: #e52626;
    color: #f4d297;
}
#s-11 {
    background-color: #f53be0;
    color: #730f9e;
}