* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    font-family: serif;
}

#p-1 {
    background-color: rgb(254, 251, 49);
    color: rgb(194, 154, 85);
}
#s-1 {
    background-color: rgb(240, 120, 23);
    color: rgb(162, 252, 252);
}
#s-2 {
    background-color: rgb(137, 59, 10);
    color: rgb(253, 231, 166);
}

#p-2 {
    background-color: rgb(13, 150, 155);
    color: rgb(0, 255, 195);
}
#s-3 {
    background-color: rgb(109, 243, 118);
    color: rgb(19, 141, 78);
}
#s-4 {
    background-color: rgb(191, 21, 21);
    color: rgb(251, 182, 122);
}
#s-5 {
    background-color: rgb(250, 250, 134);
    color: rgb(250, 105, 76);
}

#p-3 {
    background-color: rgb(237, 49, 118);
    color: rgb(250, 215, 236);
}
#s-6 {
    background-color: rgb(215, 171, 245);
    color: rgb(79, 101, 211);
}
#s-7 {
    background-color: rgb(244, 243, 203);
    color: rgb(195, 154, 66);
}

#p-4 {
    background-color: blue;
    color: rgb(61, 200, 200);
}
#s-8 {
    background-color: rgb(248, 246, 243);
    color: rgb(233, 137, 112);
}
#s-9 {
    background-color: rgb(105, 194, 238);
    color: rgb(97, 70, 171);
}

#p-5 {
    background-color: blueviolet;
    color: rgb(219, 140, 253);
}
#s-10 {
    background-color: rgb(229, 38, 38);
    color: rgb(244, 210, 151);
}
#s-11 {
    background-color: rgb(245, 59, 224);
    color: rgb(115, 15, 158);
}