@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url(../images/background2.jpg);
    background-size: cover;
}

#layout {
    width: 850px;
    margin: 0px auto;
    text-align: center;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.659),rgba(0, 0, 0, 0.487)),
        url(../images/background.webp)
        ;
    background-size: cover;
    background-color: rgb(10, 144, 5);
    border: 10px solid white;
    padding: 30px 0px;
    margin-top: 50px;
}

#heading h2 {
    margin-bottom: 40px;
    color: white;
}

#heading h3 {
    margin: 0px;
    color: white;
}

h1 {
    font-family: "Tac One", sans-serif;
    font-size: 80px;
    margin: 0px;
    margin-bottom: 15px;
    color: greenyellow;
}

h2 {
    margin: 0px;
}

#side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(215, 233, 250, 0.44);
}

#side-by-side img {
    width: 360px;
}

#teams-side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    background-color: rgba(215, 233, 250, 0.44);
}

#teams-side-by-side h2 {
    font-family: "Tac One", sans-serif;
    font-size: 45px;
    padding-bottom: 30px;
    color: white;
    margin: 0px;
}

#teams-side-by-side #left {
    margin-left: 60px;
}

#teams-side-by-side #space {
    padding-left: 200px;
}

#info {
    margin-bottom: 50px;
}
#info p {
    margin: 8px;
    color: white;
}

#info h2 {
    color: greenyellow;
    margin-bottom: 15px;
    font-size: 35px;
}

#alignment {
    margin-bottom: 50px;
}

h3 {
    color: white;
}

#g {
    color: greenyellow;
    text-decoration: none;
}

.cta-button {
    text-decoration: none;
    background-color: brown;
    color: white;
    border: 3px solid;
    padding: 15px 20px;
    border-radius: 40px;
    font-weight: bold;
    display: inline-block;
    margin-left: 40px;
}

.cta-button:hover {
    background-color: white;
    color: brown;
}

#g:hover {
    text-decoration: underline;
}