* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(212, 135, 222);
}