@import url('https://fonts.googleapis.com/css2?family=Cookie&family=DM+Serif+Text:ital@0;1&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color:rgb(205, 190, 173);
}

#hero {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center center;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 10px solid rgb(241, 228, 221);
}

#hero h1 {
    font-family: "Cookie", cursive;
    color: white;
    font-size: 190px;
    padding: 0px 130px;
    font-weight: lighter;
}

#layout {
    max-width: 1200px;
    margin: 48px auto;
    justify-content: center;
    align-items: center;
}

#layout h3 {
    font-family: "DM Serif Text", serif;
    text-align: center;
    font-size: 35px;
}

.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 15px;
    background-color: rgb(241, 228, 221);
    border: 10px solid;
}

.horizontal-masonry-gallery img {
    height: 249px;
}