@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Kings&family=Romanesco&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 20, 20);
    margin: 0px;
    font-family: sans-serif;
}
#two-columns {
    display: flex;
    margin: 36px auto;
    max-width: 800px;
}

.center {
    background-color: rgb(168, 168, 168);
    width: 700px;
    margin: auto;
    border: 7px solid rgb(138, 28, 28);
    padding: 20px;
    order: 1;
    flex: 1;
}

.anime {
    width: 645px;
}

.center h1 {
    font-family: "IM Fell Great Primer SC", serif;
    font-size: 60px;
    margin-top: auto;
}

.center h3 {
    font-family: "IM Fell Great Primer SC", serif;
    font-size: 23px;
    margin-top: 35px;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
    margin-top: 35px;
}

#sidebar-content {
    width: 200px;
    order: 2;
    margin-left: 20px;
}

#sidebar-content h2 {
    font-family: "IM Fell Great Primer SC", serif;
    background-color: rgb(138, 28, 28);
    color: rgb(168, 168, 168);
    margin: 0px;
    padding: 10px 95px 10px 15px;
    font-size: 18px;
}

#sidebar-content ul {
    background-color: rgb(168, 168, 168);
    margin: 0px 0px 36px;
    padding: 0px 5px;
    list-style-type: none;
    border: 1px solid rgb(138, 28, 28);
}

#sidebar-content a {
    color: rgb(138, 28, 28);
    text-decoration: none;
}

#sidebar-content li {
    padding: 8px 8px;
    border-bottom: 1px solid rgb(138, 28, 28);
    font-size: 15px;
}

/* pseudo-class */
#sidebar-content li:last-child {
    border-bottom: 0;
}

#sidebar-content a:hover {
    text-decoration: underline;
    font-weight: bold;
}